<div>
    <% depth ||= 0 %>
    <% children_to_display ||= comment.children %>
    <% until_highlight ||= 0 %>
    <h5><%= display_user_link(comment.user) %> wrote on <%= display_created_at(comment) %>:</h5>
    <p
    <% if until_highlight == 1 %>
     class="highlight"
    <% end %>
    ><%= comment.content %></p>
    <h6>
        <%= link_to "View", article_comment_path(comment.article_id, comment.id) %>
         - <%= link_to "Reply", new_article_comment_path(comment.article_id) %>
        <% if current_user_is?(comment.user) %>
             - <%= link_to "Edit", edit_article_comment_path(comment.article_id, comment.id) %>
            <% if children_to_display.empty? %>
                 - <%= link_to "Delete", article_comment_path(comment.article_id, comment.id), method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
            <% end %>
        <% end %>
    </h6>
    <% unless children_to_display.empty? %>
        <table>
        <tr>
        <td class="side-stripe"></td>
        <td class="stripe level-<%= comment.true_depth % 7 %>-stripe"></td>
        <td class="side-stripe"></td>
        <td>
            <% if depth < max_display_depth %>
                <% children_to_display.each do |child| %>
                    <%= render partial: 'comments/comment', locals: { comment: child, depth: depth + 1, until_highlight: until_highlight - 1 } %>
                <% end %>
            <% else %>
                <%= link_to "See more replies", article_comment_path(comment.article_id, comment.id) %>
            <% end %>
        </td>
        </tr>
        </table>
    <% end %>
</div>