<div>
    <% children_to_display ||= comment.children %>
    <h5><%= comment.user.name %> wrote at <%= comment.display_created_at %>:</h5>
    <p><%= comment.content %></p>
    <h6>
        <%= link_to "Reply", new_article_comment_path(comment.article_id) %>
        <% if current_user_is?(comment.user) %>
            - <%= link_to "Edit", edit_article_comment_path(comment.article_id, comment.id) %>
            - <%= link_to "Delete", delete_article_comment_path(comment.article_id, comment.id) %>
        <% end %>
    </h6>
    <% unless children_to_display.empty? %>
        <table>
        <td class="side-stripe"></td>
        <td class="level-<%= comment.true_depth %>-stripe"></td>
        <td class="side-stripe"></td>
        <td>
            <% if depth < max_display_depth %>
                <%= render(children_to_display), locals: { depth: depth + 1 } %>
            <% else %>
                <%= link_to "See more replies", article_comment_path(comment.article_id, comment.id) %>
            <% end %>
        </td>
    <% end %>
</div>