<%= render partial: 'application/errors', locals: { form_subject = comment } %>

<%= form_for comment, method: form_method, url: new_comment_url(@comment) do |f| %>
    <p><%= f.text_area :content %></p>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :article_id %>
    <%= f.hidden_field :user_id %>
    <p><%= f.submit submit_label %></p>
<% end %>