<h1>Edit Reply</h1>

<% if @comment.parent_id %>
<p><%= Editing reply to %>:</p>
    <%= render partial: 'comment',
           locals: {
               comment: @comment.parent,
               depth: 0,
               children_to_display: []
            } %>
<% end %>

<%= form_for comment do |f| %>
    <p><%= f.text_area :content %></p>
    <p><%= f.submit "Edit Reply" %></p>
<% end %>

<h2>in reply to article:</h2>

<%= render partial: 'articles/article', locals: { article: @comment.article } %>