<h1>New Reply</h1>

<% if @comment.parent_id %>
<p>Replying to:</p>
    <%= render partial: 'comment',
           locals: {
               comment: @comment.parent,
               depth: 0,
               children_to_display: []
            } %>
<% end %>

<%= form_for @comment, url: new_comment_url(@comment) do |f| %>
    <p><%= f.text_area :content %></p>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :article_id %>
    <%= f.hidden_field :user_id %>
    <p><%= f.submit "Post Reply" %></p>
<% end %>

<h2>in reply to article:</h2>

<%= render partial: 'articles/article', locals: { article: @comment.article } %>