<h1>
<% if actual_article_page ||= false %>
    <%= article.title %>
<% else %>
    <%= display_article_link(article) %>
<% end %>
</h1>
<h3><%= author_byline(article) %></h3>

<p><%= simple_format article.content %></p>

<p><i><%= article.author_bio %></i></p>
<% if current_user_is_staff? && current_user_is?(article.author) %>
<h4><%= link_to "Revise Article", edit_article_path(article) %> - <%= link_to "Delete Article", article, method: :delete, data: { confirm: "Are you sure you want to delete this article? Editing in an erratum might be another option!" } %></h4>
<% end %>