<h1><%= article.title %></h1>
<h3><%= by display_user_link(article.author) %></h3>

<p><%= article.content %></p>

<p><i><%= article.author_bio %></i></p>
<% if current_user_is_staff? && current_user_is?(article.author) %>
<h3><%= link_to "Revise Article", edit_article_path(article) %> - <%= link_to "Delete Article", delete_article_path(article) %></h3>
<% end %>