<h1>Edit Account Settings</h1>

<%= render partial: 'application/errors', locals: { form_subject: @user } %>

<%= form_for @user, method: :patch do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p><p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p><p>
        <%= f.label :bio %>:<br>
        <%= f.text_area :bio %>
    </p><p>
        <%= f.label :theme %>
        <%= f.select :theme, options_for_select(["dark", "light"], f.object.theme) %>
    </p><p>
        Maximum comment depth displayed:
        <%= f.select :comment_depth, options_for_select((3..10).to_a, f.object.comment_depth) %>
    </p>
    <%= f.submit "Save Settings" %>
<% end %>