<h1>Edit Account Settings</h1>

<%= form_for @user, method: :patch do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p><p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p><p>
        <%= f.label :bio %>
        <%= f.text_area :bio %>
    </p><p>
        <%= f.label :theme %>
        <%= f.select :theme, options_for_select(["dark", "light"])
    </p><p>
        Maximum comment depth displayed:
        <%= f.select :comment_depth, options_for_select([3..10]) %>
    </p>
    <%= f.submit "Save Settings" %>
<% end %>