<h1><%= @user.name %></h1>

<p><%= @user.bio %></p>

<% if current_user_is?(@user) %>
    <h4><%= link_to "Edit Settings & Account", edit_user_path(@user) %></h4>
<% end %>

<% if !@user.written_articles.empty? %>
    <h2>Articles written:</h2>
    <% @user.written_articles.each do |article| %>
        <h3><%= display_article_link(article) %></h3>
    <% end %>
<% end %>

<% if !@user.comments.empty? %>
    <h2>Comments posted:</h2>
    <ul>
    <% @user.comments.each do |comment| %>
        <li><%= display_comment_link(comment) %></li>
    <% end %>
    </ul>
    <h2>Articles commented on:</h2>
    <ul>
    <% @user.unique_articles_commented.each do |article| %>
        <li><%= display_article_link(article) %></li>
    <% end %>
    </ul>
<% end %>