<ul id="navbar">
    <li><%= link_to "Latest News", articles_path %></li>
    <% if logged_in? %>
        <li><%= link_to "Unread Articles", unread_articles_path %></li>
        <li><%= display_user_link(current_user) %></li>
        <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, method: "POST" %></li>
        <% if current_user_is_staff? %>
            <li><%= link_to "Write New Article", new_article_path %>
        <% end %>
    <% else %>
        <li><%= link_to "Log In", login_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
    <% end %>
</ul>