<!DOCTYPE html>
<html>
  <head>
    <title>RailsNewsOutlet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/styles/universal.css">
    <% if logged_in? && current_user.theme == "dark" %>
      <link rel="stylesheet" href="/styles/darktheme.css">
    <% else %>
      <link rel="stylesheet" href="/styles/lighttheme.css">
    <% end %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    
    <% if flash[:message] %>
      <p class="flash flash-message"><%= flash[:message] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="flash flash-error"><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
